html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #5E5E5E;
	font-family: Open Sans, Arial, sans-serif;
}

#drawSection {
	display: none;
}

#grid {
	position: absolute;
	border: 1px solid black;
	top: 100px;
	left: 65px;
	z-index: 3;
	pointer-events: none;
	border-spacing: 0;
	display: none;
}

#drawOptions>div {
	position: absolute;
	background-color: #757575;
	z-index: 9999;
}

#drawOptionsLeft {
	left: 0;
	height: 100%;
	width: 40px;
}

#icons {
	padding-top: 60px;
}

#icons div {
	width: 80%;
	height: 32px;
	margin: 0 auto 10px;
}

#drawOptionsTop {
	top: 35px;
	left: 40px;
	height: 40px;
	width: calc(100% - 40px);
}

#drawOptionsTopContainer {
	margin: 8px 0 0 20px;
}

#drawOptionsTopContainer div {
	margin-right: 10px;
	display: inline-block;
}

#drawOptionsTop label, #strokeSizeOutput, #strokeSize, #strokeColor {
	vertical-align: middle;
}

#strokeSize {
	margin: 2px 10px;
}

#strokeColor {
	border: none;
	padding: 0;
	margin-left: 5px;
}

#icons div:hover, #uploadLabel:hover {
	box-shadow: 0 0 2px black;
}

#icons div:active, #uploadLabel:active {
	box-shadow: inset 0 0 4px black;
}

#freeDraw {
	background: url("/icons/pencil84.png") center center no-repeat;
}

#lineDraw {
	background: url('/icons/straight16.png') center center no-repeat;
}

#paintBucket {
	background: url('/icons/bucket.png') center center no-repeat;
}

#eraseDraw {
	background: url('/icons/eraser.png') center center no-repeat;
}

#undo {
	background: url('/icons/undo.png') center center no-repeat;
}

#redo {
	background: url('/icons/redo.png') center center no-repeat;
}

#clearAll {
	background: url('/icons/clear.png') center center no-repeat;
}

#uploadLabel {
	background: url('/icons/upload.png') center center no-repeat;
	padding: 17px 0 18px;
	margin: 10px 4px;
	display: block;
}

#upload {
	position: fixed;
	top: -1000px;
}

#download {
	background: url('/icons/download2.png') center center no-repeat;
}

#gridToggle {
	background: url('/icons/grid.png') center center no-repeat;
}

.activeDraw {
	box-shadow: inset 0 0 1px 1px black;
	background-color: #616161 !important;
}

#globeResize {
	cursor: default;
	height: 20px;
	width: 20px;
	position: absolute;
	bottom: 5px;
	left: -1px;
	z-index: 9999;
	background: url('/icons/resize.png') center center no-repeat;
}

#designArea {
	float: right;
	cursor: default;
}

table td {
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}
#equator td {
	border-bottom: 1px solid #A6A6A6;
}

canvas {
	position: relative;
}

#globe {
	position: absolute;
	right: 10px;
	top: 55px;
	cursor: move;
	z-index: 9999;
}

#flatCanvas, #tempCanvas {
	position: absolute;
	top: 100px;
	left: 65px;
}

.colpick {
	z-index: 99999 !important;
}