html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Open Sans";
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#globeCanvas {
	z-index: 1;
}

#globalContext {
	position: absolute;
	top: 0;
	background: #424242;
	height: 35px;
	width: 100%;
	padding-left: 20px;
	z-index: 10000;
	white-space: nowrap;
}
#globalContext > span {
	padding: 6px 14px 6px 14px;
	line-height: 35px;
	cursor: pointer;
	color: white;
	font-size: 13px;
}
#globalContext > span:hover {
	color: #53A3FE;
	border-bottom: 3px solid #53A3FE;
}
#contextMenu {
	display: none;
	position: absolute;
	top: 35px;
	left: 10px;
	width: 240px;
	background: #424242;
	padding: 10px 0 15px 12px;
	box-shadow: inset 0 5px 6px -6px #3f51b5, 0px 2px 4px -1px #454545;
	z-index: 10000;
	color: white;
}
#contextMenu a {
	color: #00A2E8;
}
#contextMenu a:active {
	color: #00A2E8;
}
#contextMenu > div {
	display: none;
}
.menuSelected {
	color: #53A3FE !important;
	border-bottom: 3px solid #53A3FE;
}
#contextMenu > div.submenuSelected {
	display: block;
}
#measureBox, #atmosphereSettings {
	margin: 5px 20px 10px;
	display: none;
}
h2 {
	margin: 13px 12px 7px;
	font: normal 16px "Open Sans";
}
p, #imgurURL, label, span {
	font-size: 12px;
}
input {
	font-family: "Open Sans";
	font-size: 12px;
}
input[type="button"] {
	border: none;
	outline: none;
	padding: 4px 10px;
	box-shadow: 0 1px 3px 0 #5e5e5e;
	border-radius: 1px;
	margin-bottom: 7px;
}
input[type="button"]:hover:enabled {
	background: #D1D1D1;
}
input[type="button"]:active:enabled {
	box-shadow: inset 0 0 1px 0 black;
}
input[type="checkbox"], input[type="radio"] {
	position: relative;
	vertical-align: middle;
	bottom: 2px;
}
input[type="radio"] {
	bottom: 3px;
}
.subscript {
	margin: 0 15px;
	font-size: 10px;
}
#savingMessage, #imgurMessage {
	display: none;
}
.reset {
	margin: 0;
	cursor: pointer;
}
.info {
	width: 200px;
}
#radius {
	width: 50px;
}
input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 9px;
	padding: 0;
	background-color: grey;
	outline: none;
}
input[type='range']::-moz-range-track {
	-moz-appearance: none;
	background-color: grey;
	height: 7px;
}
input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 0;
	background-color: white;
	height: 17px;
	width: 7px;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 0;
	background-color: #F5F5F5;
	border: 1px solid grey;
	height: 19px;
	width: 9px;
}
#globalContext .menuDisabled {
	color: #5E5E5E;
	cursor: default;
}
#globalContext .menuDisabled:hover {
	color: #5E5E5E;
}
#worldWidth, #worldHeight {
	width: 50px;
}
.generatePropOutput {
	font-size: 14px;
	margin-left: 5px;
}
#generateSeed {
	width: 135px;
	margin-right: 5px;
}
.axisTilt {
	width: 50px;
	margin-left: 5px;
}
#imgCanvas {
	position: absolute;
	top: 100px;
	left: 65px;
	background-color: white;
}
#errorWindow, #imgurUrl, #workingWindow {
	z-index: 999999;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: none;
}
#errorWindow > div, #imgurUrl > div, #workingWindow > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#errorWindow > div > div, #imgurUrl > div > div, #workingWindow > div > div {
	position: relative;
	display: inline-block;
	width: 500px;
	background: rgba(0,0,0,0.7);
}
.workingWindowClose {
	display: none;
}
#workingWindow a {
	color: #E0ECFF;
}
#gifImage {
	width: 450px;
	margin-bottom: 20px;
}
#errorMessage, #imgurUrl p, #stepText, #counterValue {
	font-size: 17px;
	color: white;
	padding: 45px;
	padding-bottom: 20px;
}
#counterValue {
	padding: 0 0 10px 0;
	margin-top: -10px;
}
#imgurError {
	font-style: italic;
	font-size: 17px;
}
.closeButton {
	position: absolute;
	top: 5px;
	right: 0;
	background: none;
	color: white;
	font-size: 15px;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
.closeButton:hover {
	cursor: pointer;
}
#fileUploadLabel, #getImgurLabel {
	display: inline-block;
	height: 10px;
	line-height: 10px;
	border-radius: 1px;
	border: solid #808080 1px;
	background: #e3e3e3;
	padding: 6px;
	color: black;
}
#fileUploadLabel:hover, #getImgurLabel:hover {
	border: solid black 1px;
}
#fileUploadLabel:active, #getImgurLabel:active {
	box-shadow: 0 0 1px black inset;
}
#fileUpload {
	position: fixed;
	top: -1000px;
}
#imgurUrlBox {
	padding: 5px;
	outline-color: #00ff2f;
	font-size: 13px;
	width: 230px;
}
#getImgurUrl {
	width: 100px;
	height: 30px;
	font-size: 15px;
	display: none;
}

#projectionArea {
	display: none;
}

#projectionMenu {
	position: absolute;
	background-color: #757575;
	z-index: 9999;
	top: 30px;
	width: 100%;
	height: 40px;
}

#projMenuContainer {
	position: absolute;
	top: -5px;
	left: 65px;
}

#projText {
	font-size: 14px;
}

#projectionSelect {
	position: relative;
	top: -2px;
	height: 25px;
}

#projImportant {
	font-size: 14px;
	margin-left: 50px;
}

#projDownload {
	font-size: 14px;
}

#projectionCanvas, #projImage {
	position: absolute;
	top: 100px;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
}

#projDownload {
	background: url('./icons/download2.png') center center no-repeat;
	display: inline-block;
	position: relative;
	top: 9px;
	left: 3px;
	width: 32px;
	height: 32px;
}

#projDownload:hover {
	box-shadow: 0 0 2px black;
}

#projDownload:active {
	box-shadow: inset 0 0 4px black;
}

#projImage {
	display: none;
}

#colorPick {
	margin-top: 10px;
}

#measure {
	margin-top: 15px;
}
#sunReset {
	margin-top: 10px;
}
#additionalAnim {
	display: none;
}
html {
  height: 100%;
}

body {
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}

/* ---- Loader ---- from http://codepen.io/martinvd/pen/xbQJom */
#loading, .loader {
	position: relative;
	left: calc(50% - 32px);
	top: calc(50% - 32px);
	color: white;
	font-size: 15px;
}
.loaderWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}
.loader {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 2s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 2s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 2s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}